.skils {
  padding: 50px 0;
  @media only screen and (min-width: 768px) {
    padding: 100px 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__left {
    width: 100%;
    max-width: 445px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 30px;
    @media only screen and (min-width: 768px) {
      margin-bottom: 50px;
    }
  }
  &__level {
    width: 100%;
    max-width: 445px;
    height: 4px;
    background-color: #C4C4C4;
    margin: 10px 0 20px;
    @media only screen and (min-width: 768px) {
      margin: 15px 0 30px;
    }
    p {
      width: 75%;
      height: 4px;
      background-color: #34547A;
    }
  }
  &__right {
    margin-top: 20px;
    @media only screen and (min-width: 1024x) {
      margin-top: 0;
    }
    img {
      width: 555px;
      //height: 450px;
    }
  }
}