body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  padding: 0 5px;
  background-color: #E5E5E5;
}

.container {
  width: 100%;
  max-width: 1110px;
  padding: 0 10px;
  margin: 0 auto;
  h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 79px;
    color: #000000;
    @media only screen and (min-width: 480px) {
      font-size: 36px;
    }
    @media only screen and (min-width: 992px) {
      font-size: 48px;
    }
  }
  h2 {
    font-size: 20px;
    @media only screen and (min-width: 480px) {
      font-size: 26px;
    }
    @media only screen and (min-width: 992px) {
      font-size: 32px;
    }
  }
  p {
    font-size: 12px;
    line-height: 22px;
    color: #727272;
    @media only screen and (min-width: 480px) {
      font-size: 14px;
      line-height: 26px;
    }
    @media only screen and (min-width: 992px) {
      font-size: 16px;
    }
  }
}
